<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Events List</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Events List</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.title}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.eventDate}"></td>
    </tr>
    </tbody>
</table>
<a href="/admin/events/new">Create new event</a>

</body>
</html>
